<div class="form-container">
  <div class="form-header">
    <h2 class="form-title">Register</h2>
  </div>
  <form class="form-content" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Register</button>
    <p>
      Or <a [routerLink]="['/login']">login</a> if you already have an account
    </p>
  </form>
</div>
