<div class="form-container">
  <div class="form-header">
    <h2 class="form-title">Реєстраціяm ng </h2>
  </div>
  <form class="form-content" [formGroup]="registerForm" (ngSubmit)="onRegister()">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Ім'я Обліокового Запису</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Електронна Пошта</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Ім'я</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Прізвище</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Зареєструватись</button>
    <p>
      Або <a [routerLink]="['/login']">увійдіть</a> якщо ви маєте обліковий запис
    </p>
  </form>
</div>
