<div class="container">
  <mat-card class="left-panel">
    <mat-card-header>
      <mat-card-title>Класифікувати зображення</mat-card-title>
      <mat-card-subtitle>Завантажте зображення у форматі .png, .jpg, .jpeg або .webp, щоб перевірити, чи згенероване
        воно штучним інтелектом. Моделі не на 100% точні і постійно вдосконалюються
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Версія моделі для класифікації</mat-label>
            <mat-select formControlName="modelVersion">
              <mat-option value="resnet34_image_classifier_v1">resnet34_image_classifier_v1</mat-option>
              <mat-option value="resnet34_image_classifier_v2">resnet34_image_classifier_v2</mat-option>
              <mat-option value="resnet34_image_classifier_v3">resnet34_image_classifier_v3</mat-option>
              <mat-option value="resnet34_image_classifier_v4">resnet34_image_classifier_v4</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field appearance="fill" class="full-width file-upload">
            <input matInput [value]="fileName ?? null" placeholder="Файл не обрано" disabled/>
            <button
              mat-button
              matSuffix
              mat-raised-button
              color="primary"
              type="button"
              (click)="fileInput.click()"
            ><mat-icon>upload</mat-icon>Завантажити
            </button>
            <input type="file" #fileInput hidden (change)="onFileSelect($event)">
          </mat-form-field>
        </div>
        <div class="form-row">
          <button mat-raised-button color="primary" type="submit">Класифікувати зображення</button>
        </div>
      </form>
      <div class="form-row">
        <figure *ngIf="imageSrc" class="image-container">
          <img [src]="imageSrc" alt="Uploaded Image">
        </figure>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="right-panel">
    <mat-card-header>
      <mat-card-title>Результати класифікації</mat-card-title>
      <mat-card-subtitle>Тут ви побачите результати класифікації, включаючи ймовірність того, що ваше зображення ШІ-генероване
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="result-content">
      <div class="result-container">
        <mat-list *ngIf="classificationResult; else noClassificationRan">
          <mat-list-item>
            <p><b>Label: </b>{{ classificationResult?.label }}</p>
          </mat-list-item>
          <mat-list-item>
            <p><b>Confidence: </b>{{ classificationResult?.confidence }}</p>
          </mat-list-item>
          <mat-list-item>
            <p><b>Model used: </b>{{ classificationResult?.model }}</p>
          </mat-list-item>
        </mat-list>
        <ng-template #noClassificationRan>
          <p>Будь ласка, завантажте зображення для класифікації</p>
        </ng-template>
      </div>
    </mat-card-content>
  </mat-card>
</div>
