<pagination-controls
  (pageChange)="getPage($event)"
  id="gallery"
  nextLabel="Наступна"
  previousLabel="Попередня"
></pagination-controls>
<ngx-masonry [options]="masonryOptions">
  <div
    ngxMasonryItem class="grid-item"
    *ngFor="let image of $galleryImages | async |
    paginate: { id: 'gallery', itemsPerPage: 100, currentPage: page, totalItems: total }"
  >
    <a [routerLink]="[image.id]">
      <img [src]="image.thumbnailUrl" [alt]="image.prompt ? image.prompt : 'Unknown prompt'">
      <div class="image-overlay">
        <p class="image-prompt">{{ image.prompt ? image.prompt : 'Unknown prompt' }}</p>
        <span class="author-name">{{ image.author ? image.author : 'Unknown author' }}</span>
      </div>
    </a>
  </div>
</ngx-masonry>
