<ngx-masonry [options]="masonryOptions">
  <div ngxMasonryItem class="grid-item" *ngFor="let image of $galleryImages | async">
    <a [routerLink]="[image.id]">
      <img [src]="image.thumbnailUrl" [alt]="image.prompt ? image.prompt : 'Unknown prompt'">
      <div class="image-overlay">
        <p class="image-prompt">{{ image.prompt ? image.prompt : 'Unknown prompt' }}</p>
        <span class="author-name">{{ image.author ? image.author : 'Unknown author' }}</span>
      </div>
    </a>
  </div>
</ngx-masonry>
