<div class="form-container">
  <div class="form-header">
    <h2 class="form-title">Вхід</h2>
  </div>
  <form class="form-content" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Електронна Пошта</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill">
        <mat-label>Пароль</mat-label>
        <input matInput formControlName="password" type="password">
      </mat-form-field>
    </div>

    <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Увійти</button>
    <p>
      Або <a [routerLink]="['/register']">зареєструйтесь</a> якщо ви не маєте облікового запису
    </p>
  </form>
</div>
