<main>
  <app-create-job></app-create-job>
  <div class="jobs-controller">
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
    <mat-form-field appearance="outline" style="margin-bottom: -1.25em">
      <mat-label>Фільтрація за статусом</mat-label>
      <mat-select (selectionChange)="loadJobs()" [(ngModel)]="filterStatus">
        <mat-option value="">Всі</mat-option>
        <mat-option value="running">Виконуються</mat-option>
        <mat-option value="finished">Завершені</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-card *ngFor="let job of jobs | paginate: { itemsPerPage: 20, currentPage: page }" class="job-card">
    <mat-card-header>
      <div>
        <mat-card-title>Задача #{{ job?._id }} - {{ job?.status }}</mat-card-title>
        <mat-card-subtitle>
          Розпочато: {{ job.startedAt | date:'medium' }},
          Завершено: {{ job.finishedAt ? (job.finishedAt | date:'medium') : 'Виконується' }},
          Тип: {{ job.type }}
        </mat-card-subtitle>
      </div>
    </mat-card-header>
    <mat-card-content>
      <div *ngFor="let detail of job.dataSourceDetails" class="source-detail">
        <mat-icon class="content-icon">{{ getContentTypeIcon(detail.contentType) }}</mat-icon>
        <mat-icon class="status-icon">{{ getStatusIcon(detail.status) }}</mat-icon>
        <span class="provider">Провайдер: {{ detail.provider }}</span>,
        <span class="status">Статус: {{ detail.status }}</span>,
        <span class="content-type">Контент: {{ detail.contentType }}</span>,
        <span class="numbers">Зібрано: {{ detail.fetched }}, Завантажено: {{ detail.inserted }}</span>
      </div>
    </mat-card-content>
    <mat-card-footer [ngClass]="{
    'success': isSuccess(job),
    'failure': isFailure(job),
    'running': isRunning(job)
  }">
      <mat-icon>
        {{
          isRunning(job) ? 'sync' :
            isSuccess(job) ? 'check_circle' :
              isFailure(job) ? 'error' : 'help'
        }}
      </mat-icon>
      Статус: {{
        isRunning(job) ? 'Running' :
          isSuccess(job) ? 'Success' :
            isFailure(job) ? 'Failure' : 'Unknown'
      }}
    </mat-card-footer>
  </mat-card>
</main>
