:host {
  height: 100%;
  display: block;
}

mat-sidenav-container {
  display: block;
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

mat-sidenav {
  padding: 8px;
}
