<ng-container *ngIf="authService.getIsLoggedIn() | async; else authRouterOutlet">
  <app-header (toggleDrawer)="toggleSidenav()"></app-header>
  <mat-sidenav-container [hasBackdrop]="true">
    <mat-sidenav mode="over">
      <app-navigation></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<ng-template #authRouterOutlet>
  <div class="auth-container">
    <router-outlet></router-outlet>
  </div>
</ng-template>
