<div class="collection-controls">
  <pagination-controls
    id="aggregated"
    (pageChange)="loadImages($event)"
  ></pagination-controls>
  <div class="selection-controls">
    <button
      mat-button
      color="primary"
      mat-flat-button
      class="select-all-button"
      (click)="selectAllToggle()"
    >
      Вибрати всі
    </button>
    <button
      [disabled]="!selectedImages.size"
      mat-button
      color="accent"
      mat-flat-button
      class="approve-button"
      (click)="approveSelected()"
    >
      Схвалити
    </button>
    <button
      [disabled]="!selectedImages.size"
      mat-button
      color="warn"
      mat-flat-button
      class="reject-button"
      (click)="rejectSelected()"
    >
      Відхилити
    </button>
  </div>
</div>
<div class="ai-image-cards-container">
  <div
    class="image-card"
    *ngFor="let image of images$ | async | paginate: { id: 'aggregated', itemsPerPage, currentPage, totalItems }"
  >
    <mat-checkbox
      class="overlay-checkbox"
      [checked]="isSelected(image)"
      (change)="toggleSelection(image)"
      color="primary"
    ></mat-checkbox>
    <app-small-aggregated-image-card
      [image]="image"
      (click)="openLargeCard(image)"
    ></app-small-aggregated-image-card>
  </div>
</div>
