<div class="user-container" *ngIf="user$ | async as user">
  <h2
    *ngIf="isPersonalProfile$ | async; else userTitle"
  >Мій профіль</h2>
  <ng-template #userTitle>
    <h2>Профіль користувача</h2>
  </ng-template>
  <div class="user-details">
    <mat-icon class="user-placeholder-avatar">account_circle</mat-icon>
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p>
      <mat-icon>person</mat-icon>
      Ім'я облікового запису: &#64;{{ user.username }}
    </p>
    <p>
      <mat-icon>admin_panel_settings</mat-icon>
      Роль: {{ user.role }}
    </p>
  </div>
  <ng-container *ngIf="images$ | async as images">
    <div *ngIf="images.length !== 0" class="gallery">
      <h2
        *ngIf="isPersonalProfile$ | async; else userImages"
      >Мої зображення</h2>
      <ng-template #userImages>
        <h2>Зображення користувача</h2>
      </ng-template>
      <div class="gallery-controls">
        <pagination-controls
          (pageChange)="pageChange($event)"
          previousLabel="Попередня"
          nextLabel="Наступна">
        </pagination-controls>
        <button
          *ngIf="isPersonalProfile$ | async"
          mat-raised-button
          color="primary"
          (click)="onUploadImage()"
          >
          <mat-icon>upload</mat-icon>
          Завантажити
        </button>
      </div>
      <div class="gallery-grid">
        <div
          *ngFor="let image of images | paginate: {
          itemsPerPage: 100,
          currentPage: imagesPage,
          totalItems: imagesTotal
        }"
          class="gallery-item"
        ><a [routerLink]="['/content/images', image.id]">
          <img [src]="image.thumbnailUrl" [alt]="image.prompt">
        </a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
