<div class="user-list-container">
  <h2>Список користувачів</h2>
  <p>За допомогою цієї панелі ви можете дослідити ШІ-генерований контент інших користувачів, а також знайти адміністраторів,
  щоб повідомити про завантаження протиправного контент та помилки розпізнавання ШІ-генерованого контенту моделлю</p>
  <ul class="user-list">
    <li *ngFor="let user of users$ | async" class="user-item">
      <a [routerLink]="['/users', user.id]" class="user-name">
        <mat-icon>person</mat-icon>
        {{ user.firstName }} {{ user.lastName }} &#64;{{ user.username }}
      </a>
      <span class="user-role" *ngIf="user.role">
        <mat-icon>admin_panel_settings</mat-icon>
        Роль: {{ user.role }}
      </span>
    </li>
  </ul>
</div>
