<mat-nav-list>
  <h3 matSubheader>Content</h3>
  <a mat-list-item [routerLink]="['/content/images']" routerLinkActive="active">
    <mat-icon matListIcon>image</mat-icon>
    <span>Images</span>
  </a>

  <h3 matSubheader>Users</h3>
  <a mat-list-item [routerLink]="['/users']" routerLinkActive="active">
    <mat-icon matListIcon>person</mat-icon>
    <span>Users</span>
  </a>

  <h3 matSubheader>Classification</h3>
  <a mat-list-item [routerLink]="['/classifiers/images']" routerLinkActive="active">
    <mat-icon matListIcon>category</mat-icon>
    <span>Image Classification</span>
  </a>

  <h3 matSubheader>Aggregation</h3>
  <a mat-list-item [routerLink]="['/aggregation/jobs']" routerLinkActive="active">
    <mat-icon matListIcon>work_outline</mat-icon>
    <span>Jobs</span>
  </a>

  <a mat-list-item [routerLink]="['/aggregation/images']" routerLinkActive="active">
    <mat-icon matListIcon>collections</mat-icon>
    <span>Aggregated Images</span>
  </a>
</mat-nav-list>
